@using LightMvcCaptcha.Core
@model AspNetCoreWebTest.Models.TestCaptchaModel


@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["message"] != null)
{
    <h2>@ViewData["message"]</h2>
    <h3>Try more</h3>

}
    <form method="post">
        @Html.CaptchaFor(x => x.captchacode)
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <br />
        <input asp-for="captchacode" autocomplete="off" />
        <span asp-validation-for="captchacode" class="text-danger"></span>
        <br />

        <input type="submit" value="POST" />
    </form>
